
body {
    font-family: Arial;
    text-align: center;
    background: #fff5f5;
}

.product {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    background: #ff4d6d;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
